{% extends "base_generic.html" %}

{% block content %}
<h1><b>Videocentro Local</b></h1>

        <p>Bienvenido a <em>Videocentro</em> un sitio básico desarrollado como tarea del módulo 12 del curso de Python</p>

    <h2>Contenido dinámico</h2>

        <p>El videocentro cuenta con los siguientes registros:</p>
        <ul>
            <li><strong>Películas:</strong> {{ num_movies }}</li>
            <li><strong>Directores:</strong> {{ num_directores }}</li>
            <li><strong>Disponibilidad:</strong> {{ disponibles }}</li>
            <li><strong>Estado:</strong> {{ num_instances }}</li>
        </ul>

{% endblock %}

